.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #1a0e15 0%, #561530 50%, #811844 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons a {
  background: #811844;
  color: white !important;
}

.description {
  max-width: 600px;
  margin: 1rem auto 2rem;
  color: #f8d7e9;
}
